<html>

<head>
    <title>index</title>

    <%include partials/head%>

</head>
<body class="home">
    <h1>BIENVENIDO</h1>


<div class="container">
    <div class="card text-center mt-5">
        <div class="card-body">
            <h1><span class="fa fa-user"></span> Bienvenido</h1>
            <a href="/login" class="btn btn-light btn-lg">
                <span class="fa fa-lock"></span> Login
            </a>
            <a href="/signup" class="btn btn-light btn-lg">
                <span class="fa fa-lock"></span> Signup
            </a>

        </div>

    </div>




</div>


</body>



</html>